* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

  div {
    cursor: default;
  }

  .storyListTitle {
    font-family: "Satoshi", sans-serif;
    color: var(--color-gray-9);
    font-weight: 500;
    font-size: 2rem; 
    margin-top: 4rem; 
    margin-bottom: 2rem;
  }
  
  .story-button:hover {
    background: rgba(136.68, 136.68, 136.68, 0.10);
  }

  .story-button:hover .StoryNum1  {
    display: none;
  }

  .story-button:hover .SmallIcon  {
    display: flex;
  }

  .column-margin {
    margin : 0 var(--gutter);
  }
  
  .Storyleftframe {
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    display: flex;
    width: 40rem;
  }
  
  .StoryNum1 {
    color: var(--color-gray-14);
    font-size: 1.6rem;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    width: 4.2rem;
    text-align: center;
  }

  .SmallIcon {
    width: 4.2rem;
    height: 4.2rem;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .StoryPlayIcon {
    width: 1.5rem;
    height: 1.6rem;
  }

  
  .StoryImage1 {
    width: 3.19rem;
    height: 3.19rem;
    border-radius: 0.63em;
  }
  
  .Storyname {
    color: var(--color-gray-9);
    font-size: 1.6rem;
    font-weight: 400;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .Storyrightframe {
    justify-content: flex-start;
    align-items: center;
    gap: 1.19rem;
    display: flex;
    width: 23rem;
  }
  
  .StoryDuration {
    color: var(--color-gray-14);
    margin-right: 3rem;
    width: 7rem;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: right;
    
    word-wrap: break-word;
  }

  .StoryDuration2 {
    color: var(--color-gray-14);
    font-size: 0.88em;
    font-weight: 300;
  }

  .storyDurationAndButtons {
    display: flex;
    gap: 1.25em;
    align-items: center;
    justify-content: flex-start;

  }

  .StoryButton1 {
    padding-right: 1em;
  }
  
  .Like {
    width: 2em;
    height: 2em;
    padding: 0.38em;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .LikeIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .LikeIcon svg{
    width: 2.4rem;
    height: 2rem;
  }

  .LockIcon1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .BigIcon {
    position: relative;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .BigIcon2 {
    width: 4rem;
    height: 4rem;
    position: relative;
  }

  .BigIcon:hover .LikeIcon path {
    stroke: var(--color-gray-9);
    color: var(--color-gray-9);
  }

  .StoryStatusIcon {
    width: 1.44em;
    height: 1.44em;
  }
  
  .Star1 {
    width: 1.88em;
    height: 1.91em;
    background: #c7c7c7;
  }
  

  #Showcase {
    margin-top: 9rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    display: inline-flex;
}



.ShowcaseTop {
    align-self: stretch;
    height: 20rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    display: flex;
}



#Showcasefirst {
    width: 100%;
    height: 15rem;
    position: relative;
    transition: box-shadow 0.3s ease;
    border: 1px solid transparent; 
}

.Showcaseimagecontainer {
    left: 1.3rem;
    top: 1.2rem;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.071rem;
    display: inline-flex;
}

.SmallRectangle1 {
    width:  11rem;
    height: 0.512rem;
    background: #18191E;
    border-top-left-radius: 5.12px;
    border-top-right-radius: 5.12px;
}

#ShowcaseImageCover {
    width: 12rem;
    height: 12rem;
    border-radius: 5.12px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.ShowcaseSmallImage {
    width: 12rem;
    height: 12rem;
    margin: 0 0;
}

.Showcasetoplayer {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    
}

.Showcasetopshadow {
  width: 29rem;
  height: 15rem;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(24, 25, 30, 0.30);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.Showcasetopshadow:hover {
  border: 1px solid rgba(255, 255, 255, 1); 
}

#Showcasetitle2 {
    width: 12rem;
    left: 14.6rem;
    top: 1.7rem;
    position: absolute;
    color: var(--color-gray-9);
    font-size: 1.4rem;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;

}

.ShowcaseWideImage {
    width: 100%;
    border-radius: 10px;
    margin: 0 0;
}

.ShowcaseDescription {
    width: 100%;
    color: var(--color-gray-9);
    font-size: 1.6rem;
    font-weight: 300;
    word-wrap: break-word;
    overflow: hidden;
    text-align: left;
    font-family: "Satoshi", sans-serif;
    line-height: 1.6;
}

.GenreContainer {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
}

.GenreBox {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 44px;
    border: 2px rgba(136.68, 136.68, 136.68, 0.25) solid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: flex;
}

.Genretext {
    color: var(--color-gray-14);
    font-size: 1.4rem;
    font-family: 'Satoshi', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    word-wrap: break-word;
}

#PageBody.StoryPage {
  width: 100%;
  margin-top: 2.75rem;
  border: 1px #202020 solid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  border-radius: 10px;
  gap: 2.8rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: "Satoshi", sans-serif;
}

#StoryLeftSide {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.6rem;
  display: inline-flex;
}

.StoryInfo {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  display: flex;
}


#MainPage {
  transition  : opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 5;
}

#MainPage * {
  font-family: "Satoshi", sans-serif;
  line-height: auto;
  cursor: default;
  letter-spacing: 0.03em;
  
}

#StoryHolder {
  background-color: #060606;
  opacity: 0;
  transition  : opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 0;
}

#AchievementsPage {
  background: linear-gradient(180deg, rgba(165, 42, 152.70, 0.47) 0%, rgba(6, 6, 6, 0.47) 100%);
  
  
}

#AchievementsPage, #SavesPage {
  background-color: #060606;
  padding: 4rem;
  opacity: 0;
  transition  : opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 0;
  
}

#AchievementsPage *, #SavesPage *{
  
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  word-wrap: break-word;
  
}

#SavesPage {
  background: linear-gradient(180deg, rgba(21.25, 34.83, 106.25, 0.47) 0%, rgba(6, 6, 6, 0.47) 100%);
  
}



.TitleText {
  font-size: 3.6rem;
  font-weight: 500;
}

.AchHeader {
  margin-bottom: 4rem;
}

.AchBoxes {
  align-self: stretch; justify-content: flex-start; align-items: center; gap: 1.4rem; display: inline-flex; margin-bottom: 4rem !important;
}

.AchBox {
  align-self: stretch; padding-left: 2rem; padding-right: 2rem; padding-top: 1rem; padding-bottom: 1rem; border-radius: 44px; border: 2px rgba(136.68, 136.68, 136.68, 0.25) solid; justify-content: center; align-items: center; gap: 1rem; display: flex
}

.AchievementIcon {
  width: 2.4rem; height: 2.4rem; padding: 0.5rem; justify-content: center; align-items: center; display: flex;
}

.AchievementIcon svg{
  width: 1.4rem; height: 1.3rem;
}

.AchievementsTable {
  align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3rem; display: flex
}

.TableHeader {
  font-size: 2rem; ffont-weight: 500;
}

/* #Achievements {
  width: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2.1rem; display: flex
} */

#StoryHolder * {
  font-family: "Satoshi", sans-serif;
  line-height: auto;
  letter-spacing: 0.03em;
  cursor: default;
}

.StoryTitle1 {
  color: var(--color-gray-9);
  font-size: 3.2rem;
  font-weight: 500;
  word-wrap: break-word;
  line-height: normal;
}

.Storysmalldetails {
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  display: inline-flex;
}

.StorySubtitle {
  color: var(--color-gray-14);
  font-size: 1.4rem;
  font-weight: 300;
  word-wrap: break-word;
  
}



.Ellipse {
  width: 0.3rem;
  height: 0.3rem;
  background: var(--color-gray-14);
  border-radius: 9999px;
  margin: auto 0;
}

.Storyoverview {
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}


.StoryOverviewText {
  color: var(--color-gray-9);
  font-size: 1.6rem;
  font-weight: 400;
  word-wrap: break-word;
  text-align: left;
  line-height: 1.6;
}

.Storypagebuttons {
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
  display: inline-flex;
}

.IconsBig {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.StoryChapters {
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.6rem;
  display: flex;
}

.Storychapterstabletop {
  align-self: stretch;
  height: 2.8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.Storychapterstabletopsub {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  display: inline-flex;
}

.Hashsign1,
.Title1,
.Duration1 {
  color: var(--color-gray-14);
  font-size: 1.4rem;
  font-weight: 400;
  word-wrap: break-word;
}
.Duration1{ 
  text-align: right;
  width: 8rem;
}

.Hashsign1 {
  width: 3.6rem;
  text-align: center;
}

.Title1 {
  max-width: 35rem;
  text-align: left;
}

.Straightline {
  align-self: stretch;
  height: 0;
  border: 1.62px rgba(136.68, 136.68, 136.68, 0.15) solid;
  width: 100%;
}

#ChapterList {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.6rem;
  display: flex;
  margin-bottom: 5rem;
}
.Storychapterstabletopsub {
  display: inline-flex;
  justify-content: space-between;
}

.chapter-row-left-side {
  display: inline-flex;
  gap: 1.6rem;
}

.chapter-row-right-side {
  display: inline-flex;
  gap: 1.6rem;
}

.Chapter {
  align-self: stretch;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  border-radius: 0.5rem;
}
.unlockedChapter:hover {
  background: rgba(136.68, 136.68, 136.68, 0.10);
  
}

.Chapternum {
  width: 3.6rem;
  text-align: center;
  color: var(--color-gray-14);
  font-size: 1.4rem;
  font-weight: 400;
  word-wrap: break-word;
}

.Chaptername {
  max-width: 35rem;
  color: var(--color-gray-9);
  font-size: 1.6rem;
  font-weight: 400;
  word-wrap: break-word;
  text-align: left;
  display: flex;
  align-items: center;
}

.ChapterDuration {
  width: 8rem;
  color: var(--color-gray-14);
  font-size: 1.4rem;
  font-weight: 300;
  word-wrap: break-word;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}



#StoryRightSide {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.4rem;
  display: inline-flex;
}

.Chaptercover {
  border-radius: 8px;
  margin: 0 0;
}

#ChapterGenreBox {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.ChapterGenre {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 3.6rem;
  border: 1.62px rgba(136.68, 136.68, 136.68, 0.25) solid;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ChapterGenreText {
  color: var(--color-gray-14);
  font-size: 1.4rem;
  font-weight: 300;
}

#ChapterChars {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  display: flex;
  width: 100%;
}

.Character {
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  display: inline-flex;
}

.CharacterImg {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 42px;
  margin: 0 0;
}

.CharacterName {
  color: var(--color-gray-14);
  font-size: 1.6rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}


.BigIcon.PlayButton {
  cursor: pointer;
}

.BigIcon.PlayButton:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#StoryPlayButton {
  position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin-right: 0.8rem;
}

#StoryPlayButton:hover {
  transform: translateY(-0.13em);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#StoryPlayButton:active {
    transform: translateY(2px);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}


#StoryPlayButton:hover .BigPlayButton circle {
  fill: var(--color-2);
  cursor: pointer;
}

#StoryPlayButton:hover .BigPlayButton path {
  cursor: pointer;
}

#StoryPlayButton.GreyedOut:hover,
#StoryPlayButton.GreyedOut:active {
  transform: none;
  box-shadow: none;
  cursor: default;
}

#StoryPlayButton.GreyedOut:hover .BigPlayButton circle {
  fill: var(--color-gray-14);
  cursor: default;
}

#StoryPlayButton.GreyedOut:hover .BigPlayButton path {
  cursor: default;
}

.StoryLikeButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.StoryLikeButton path {
  transition: all 0.3s ease;
}

.BigIcon2:hover .StoryLikeButton path {
  stroke: var(--color-gray-9);
  color: var(--color-gray-9);
}

.StoryHideButton {
  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
}

.HiddenButtonActive path {
  transition: all 0.3s ease;
  stroke: var(--color-1-light);
  color:  var(--color-1-light);
}

.BigIcon2:hover .StoryHideButton path {
  stroke: var(--color-gray-9);
  color: var(--color-gray-9);
}

.StoryHideButton path {
  transition: all 0.3s ease;
}

.BigIcon2:hover #StoryHideSvg.HiddenButtonActive path {
  stroke: var(--color-gray-9);
  color: var(--color-gray-9);
}


.StoryCheckIcon {
  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
  width: 1.13em;
  height: 0.81em;
}

.StoryCompleteIcon {
  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
  width: 1.48em;
  height: 1.48em;
}

#StoryPlayButton.GreyedOut circle {
  fill: var(--color-gray-14);
}

.LockIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.hidden {
  display: none;
}

@keyframes gradient-animation {
  0% { border-image-slice: 1; }
  100% { border-image-slice: 1; }
}


#AchievementArea {
  visibility: hidden;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #DD0C0C;
  color: white;
  border-radius: 14px;
  font-family: "Satoshi", sans-serif;

  width: fit-content;

  position: fixed;
  z-index: 10;
  left: 0;right:0;
  bottom: 30px;
  font-size: 20rem;
  font-weight: 500;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

#MessageArea {
  visibility: hidden;
  margin: auto;
  font-family: "Satoshi", sans-serif;

  width: fit-content;

  position: fixed;
  z-index: 10;
  left: 0; right:0;
  bottom: 30px;
}

#AchievementImg {
  width: 50px;
  height: 50px;
  margin: 0;
}

#AchievementText {
  font-family: "Satoshi", sans-serif;
  font-size: 1.8rem;
  height: 20px;
  line-height: 1;

}

#AchievementArea.show {
  width: fit-content;
  visibility: visible;
  -webkit-animation: fadein 1s, stay 3s 1s, fadeout 0.5s 3.5s;
  animation: fadein 0.5s, stay 3s 0.5s, fadeout 0.5s 3.5s;
}



@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}

@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}

.SaveSlotContainer {
  width: 100%; height: 20rem; padding-top: 10px; padding-bottom: 50px; border-bottom: 2px #111111 solid; 
  flex-direction: column; justify-content: space-between; align-items: flex-start; display: flex;
  font-family: "Satoshi", sans-serif; color: white;
}

.EmptySaveSlotFrame {display:inline-flex; justify-content:center; align-items:center; font-size: 1.6rem; 
  color: var(--color-gray-14); border: 0.1rem #ECECEC solid;
  transition: opacity 0.3s ease;
}

.EmptySaveSlotFrame {
  margin-bottom: 0.6rem;
}

.SaveSlotContainer:hover .EmptySaveSlotFrame {
      color: #f0f0f0;
      border-color: #000000;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.SaveDeleteIcon {
  width: 40.41px; height: 40.41px; padding: 11.79px; justify-content: center; align-items: center; display: flex
}

.SaveDeleteIcon:hover svg path {
  stroke: var(--color-gray-9);
}

.white {
  color: white;
}


.aspect1-1 {
  aspect-ratio: 1/1;
}

.margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.margin-bottom-3 {
  margin-bottom: 3rem !important;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}

.SavesButtonTempArea {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -99;
}

.TempArea {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -99;
}

.SavesButtonTempArea * {
  cursor: default;
  font-weight: 300;
}

.SavesButtonTempArea {
  cursor: default;
  font-weight: 300;
}

.SavesButtonTempArea a {
  cursor: pointer;
  line-height: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--color-gray-14);

}

.SavesButtonTempArea a:hover {
  color: var(--color-1);

}

.transition-cubic-bezier {
  transition  : opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#intro * {
  font-family: "Satoshi", sans-serif;
}




.achievement-image {
  border-radius: 10px;
  height: 13rem;
  width: 13rem;

  
}

.AchievementItem {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
  transition: all 0.3s ease;
}

.AchievementItem * {
  transition: all 0.3s ease;
}




.achievement-tooltip {
  display: none;
}

.achievement-image {
  cursor: pointer;
}



.AchievementItem:hover .achievement-image {
  transform: scale(1.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  background-color: #e2decb;
}

.AchievementItem:hover .achievement-tooltip {
  width: 30rem;
  top: 100%;
  left: 50%; 
  transform: translateX(-50%);
  position: absolute;
  display: inline;
  background: var(--color-black);
  border-radius: 0.5rem;
  margin-top: 1rem;

}


.AchievementItem:hover .achievement-tooltip::after{
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -1rem;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent var(--color-black) transparent;
  top: -3rem;

}